/* Navbar */
.menu-icon {
    color: black;
}

.customised-card-wrapper {
    position: absolute;
    top: 30%;
    right: 10%;
    transform: translateY(-50%);
    text-align: left;
}

.customised-card {
    width: 30rem;
    height: 100%;
}

.carousel-inner {
    height: 500px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.customised-card-wrapper {
    position: absolute;
    padding: 20px;
}

.carousel-two-header {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.carousel-two-wrapper {
    align-content: center !important;
    margin-left: 20px;
    margin-right: 20px;
}

.latest-news-wrapper {
    margin-top: 17rem;
    margin-bottom: 10rem;
}

.latest-news-header {
    margin-top: 10rem;
    margin-bottom: 20px;
    text-align: center;
}

.card-height {
    height: 30rem;
}

.card-image {
    height: 200px;
}


.card-height {
    height: 100%;
}

.card-image {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-weight: 700;
}

.card-text {
    color: #6c757d;
}

.btn-custom {
    background-color: #007bff;
    color: white;
}

.btn-custom:hover {
    background-color: #0056b3;
    color: white;
}

/* Responsiveness */

@media (max-width: 768px) {
    .customised-card-wrapper {
        width: 100%;
        text-align: center;
        right: auto;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}